body{
  font-size: 15px;
}
.entirety-margin {
display: block;
margin-left: 3em;
  box-sizing: border-box;
height: auto;
  width: 100%;
}

 .block ul li {
  /*li本来是list——item格式，display后改变格式不再显示图标，故不用设置List_style_type:none;属性*/
  display: block;
  margin-right:2em;
  float:left;
padding-left: 1em;

}
.block{
  line-height: 8em;
  height: 8em;
}
.block1 ul li{
  line-height: 4em;
}
.endfloat {
  clear: both;
  line-height: 0;
  overflow: hidden;
}
ul li {
  list-style-type: none;
}
a[href] {
  text-decoration: underline;
}

.weight,
.weight1 {
  display: block;
  float: left;
  font-weight: 700;
  width: auto;
    padding-left: 1em;
}

h2{
  width: 90%;
  background-color: #595350;
  line-height: 3em;
  height: 3em;
  padding-left: 1em;
  margin: 0;
  color: #d0e5e8;
}
h3{
  display: block;
  float: left;
  width: 10%;
  line-height: 5em;
  height: 5em;
  text-align: center;
  background-color: #83939c;
margin:0;
}
ul{
  display: block;
  margin: 0.1em;
  padding: 0;
  line-height: 4em;
}
.block,
.block1
{
  margin:0;
  width: 90%;
  border: 0.1em solid #7ec2c1;
}
